body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	text-align: center;
}

.wrap{	
	max-width: 1000px;
	margin: auto;
	position: relative;
}

header {
	height: 70px;
}

header figure, header figure a{
	display: inline-block;
	margin: 0;
}

.CIBRLogo {
	margin-top: 10px;
	margin-left: 20px;
	position: absolute;
	left: 0;
	width:213;
	height:50;
}

.CIBRLogo img{
    position: absolute;
    left: 0;	
}

.whatsAppLogo{
	width: 33px;
	height: 33px;
}

.whatsAppData{
	position: absolute;
	right: 0;
	margin-top: 15px;
	margin-right: 20px;
}

.cellphone-header {
	font-size: 32px;
	font-weight: 500;
	word-spacing: 4.28px;
	letter-spacing: -2.34px;
	color: #455a64;
	text-decoration: none;
	margin-right: 9px;
}

.cover {
	background-size: cover;
	text-align: center;
}

.main-title{
	margin: 0 0 120px 0;
	font-weight: 700;
	padding-top: 128px;
	font-size: 50px;
	color: white;
	line-height: 76px;
	letter-spacing: -0.63px;
	word-spacing: 14px;
}

.main-tittle-place {
	font-weight: 900;
	color: #f7912b;
}

.callToActionButton{
	cursor: pointer;
	display: inline;
    margin: auto;
    padding: 18px 50px;
    border: 0;
    border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	background-color: #f75111;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;    
}

.nextWhiteImage{
	margin-top: 80px;
	margin-bottom: 80px;
} 

.feature-article{
	text-align: left;
	height: 450px;
	margin-bottom: 52px;
	padding-top: 100px;
}

.title-features{
	font-size: 32px;
    font-weight: 500;
    margin: 0 0 70px 0;
	word-spacing: 1.2px;
}

.info-features{
	width: 450px;
	height: 250px;
	word-spacing: 0.5px;
	letter-spacing: 0.9px;
	line-height: 28px;
	font-size: 18px;
	font-weight: 400;
}

.features{
	height: auto;
}

.menu-features{
	display: inline-block;
	width: 470px;
}

.menu-features ol{
	margin-top: 0;
	padding: 0px;
} 

.menu-features li{
	display: inline-block;
} 

.menu-features li button{
	cursor: pointer;
	font-size: 12px;
	font-weight: 100;
	border: 3px solid #455a64;
	background-color: white;
    border-radius: 25px;
    -webkit-border-radius: 25px;
	-moz-border-radius: 25px;
    color: #455a64;
    text-align: center;
    padding-right: 32px;
    padding-left: 32px;
    margin-right: 20px;
    margin-bottom: 20px;
} 

.activeButton{
	border: 3px solid #455a64;
    color: #455a64;
    font-weight: 300;
} 

.menu-features li button:hover{
	border: 3px solid #f75111;
    color: #f75111;
} 

.image-features {
	position: relative;
	float: right;
	top: -370px;
}

.info-features{
	height: 270px;
}

.nextContainer{
	position: relative;
	float: left;
	left: 50%;
}

.nextGray{
	position: relative;
	float: right;
	right: 50%;
}

footer {
	background: #333333;
	color: white;
	margin-top: 300px;
}

.form {
	background: #455a64;
	width: auto;
	height: 620px;
	margin-top: 147px;
}

.title-form {
	color: #f7912b;
	font-size: 32px;
	font-weight: 500;
	padding-top: 97px;
	word-spacing: 0.7px;
	letter-spacing: 0.7px;
}

.form form input, textarea{
	width: 100%;
	background: none;
	border: 0;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-color: white;
	color: white;
	font-size: 20px;
	font-weight: 300;
	padding-right: 53px;
	padding-left: 53px;
	padding-top: 5px;
	padding-bottom: 5px; 
	margin-top: 45px;
	outline: 0;
}

.form form textarea{
	margin-bottom: 25px;
	resize: none;
}

.form form button{
	float: right;
    padding: 8px 40px;
}

.form form input::placeholder, textarea::placeholder{
	color: #cccccc;	
	font-weight: 100;
}

.inputs {
	padding-left: 20px;
	padding-right: 20px;
}

.footer-data {
	height: 40px;
	font-size: 16px;
	font-weight: 100;	
	word-spacing: -0.3px;
	letter-spacing: -0.2px;
}

.footer-data figure a{
	text-decoration: none;
	color: white;
}

.footer-data img{
	margin-right: 13px;
}

.email-footer {
    position: absolute;
    left: 0;
	margin: 15px 0px 0px 20px;	
}

.email-footer a{
	display: flex;
	justify-content: center;	
}

.email-footer span{
	padding-top: 3px;
}

.phone-footer a{
	display: flex;
	justify-content: center;	
}

.phone-footer span{
	padding-top: 7px;
}

.phone-footer{
	position: absolute;
	margin: 9px 20px 0px 0px;	
    right: 0;
}

.footer-copyright{
	font-size: 14px;
	font-weight: 100;
}

@media screen and (max-width: 1030px) {
	.cover{
		height: 500px;
	}

	.main-title{
		font-size: 40px;
	    padding-top: 78;
	    line-height: 66px;
	    margin-bottom: 80;
	}
}

@media screen and (max-width: 800px){	
	header{
		height: 50px;
	}

	.CIBRLogo{
		margin-top: 5px;
	}

	.CIBRLogo img{
		width:170;
		height:40;
	}

	.whatsAppData{
		margin-top: 7px;
	}

	.whatsAppLogo{
		width: 27px;
		height: 27px;
		margin-top: 4px;
	}


	.cellphone-header {
		font-size: 27px;
	}

	.cover{
		height: 350px;
	}

	.main-title{
		font-size: 30px;
		padding-top: 48;
		line-height: 46px;
		margin-bottom: 50;
	    word-spacing: 6px;
	}

	.callToActionButton{
		padding: 14px 36px;
	    font-size: 17px;
	}

	.nextWhiteImage, .nextGrayImage{
		margin-top: 40px;
	    margin-bottom: 40px;
	    width: 60px;
	    height: 60px;
	}
}

@media screen and (max-width: 970px){
	.features{
		height: auto;
	}

	.feature-article{
		padding-top: 70px;
		margin-bottom: 0;
		height: auto;
	}

	.title-features, .info-features,.menu-features {
		margin-left: 110px;
		margin-right: 110px;
		width: auto;
	}

	.title-features{
		margin-bottom: 45px;
	}

	.info-features{
		height: auto;
		font-size: 16px;
		word-spacing: 0.6px;
		letter-spacing: 0.2px;
		line-height: 24px;
		margin-bottom: 40px;
	}

	.image-features{
		position: initial;
		float: none;
	}	

	.imageContainer{
		text-align: center;
	}

	.menu-features{
		margin-top: 40px;
		display: flex;
		justify-content: center;
	}

	.menu-features li button{
		font-size: 10px;
		font-weight: 100;
		border: 2px solid #455a64;
		padding-right: 16px;
    	padding-left: 16px;
    	margin-right: 6px;
	    margin-bottom: 16px;
	}

	.activeButton{
		border: 2px solid #455a64;
	} 

	.menu-features li button:hover{
		border: 2px solid #f75111;
	} 

	.form{
		margin-top: 100px;
	}
}

@media screen and (max-width: 500px) {	
	header{
		height: 40px;
	}

	.CIBRLogo{
		margin-top: 3px;
	}

	.CIBRLogo img{
		width:149;
		height:35;
	}

	.whatsAppData{
		margin-top: 5px;
	}

	.whatsAppLogo{
		width: 20px;
		height: 20px;
		margin-top: 4px;
	}

	.cellphone-header {
		font-size: 19px;
	}

	.cover{
		height: 190px;
	}

	.main-title{
		font-size: 18px;
		font-weight: 500;
		padding-top: 19px;
		line-height: 35px;
		margin-bottom: 35px;
	    word-spacing: 3px;
	}

	.callToActionButton{
		padding: 12px 25px;
	    font-size: 14px;
	}

	.nextWhiteImage, .nextGrayImage{
		display: none;
	}

	.feature-article{
		padding-top: 20px;
	}

	.title-features{
		font-size: 15px;
	}

	.title-features, .info-features,.menu-features {
		margin-left: 20px;
		margin-right: 20px;
		width: auto;
	}

	.title-features{
		margin-bottom: 20px;
	}

	.info-features{
		height: auto;
		font-size: 12px;
		line-height: 20px;
		margin-bottom: 20px;
	}

	.image-features{
		max-width: 100%;
    	width: auto;
	}	

	.menu-features{
		margin-top: 20px;
		display: flex;
		justify-content: center;
	}

	.menu-features li button{
		font-size: 10px;
		font-weight: 100;
		border: 2px solid #455a64;
		padding-right: 16px;
    	padding-left: 16px;
    	margin-right: 6px;
	    margin-bottom: 10px;
	}

	footer{
		margin-top: 0px;
	}

	.form{
		margin-top: 0px;
		height: 450px;
	}

	.title-form{
		margin-top: 0px;
		padding-top: 50px;
		font-size: 22px;
	}

	.form form input, textarea{
		border-bottom-width: 2px;
		font-size: 16px;
		font-weight: 300;
		padding-right: 30px;
		padding-left: 30px;
		padding-top: 5px;
		padding-bottom: 5px; 
		margin-top: 25px;
	}

	.footer-data{
		height: 90px;
	}

	.email-footer{
		font-size: 12px;
		position: initial;
	}

	.phone-footer{
		position: initial;
		font-size: 12px;
	}

	.footer-copyright{
		font-size: 10px;
	}
}

@media screen and (max-width: 320px) {
	.cellphone-header {
		font-size: 17px;
		word-spacing: 1.28px;
		margin-right: 3px;
	}
	
	.form form input, textarea{
		font-size: 12px;
	}

	.form form textarea{
	}
}